@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Bree+Serif');

*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html,
body,
.wrap {
    height: 100%;
}

body{
    background-color: #f2f3f5;
}

.navbar-inverse{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    transition: 0.3s;
}

.navbar-inverse .navbar-brand:hover {
    color: #ff5252;
    transition: 0.3s;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ff5252;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ff5252;
    background-color: #080808;
}

.logolink{
    display:block;
    position:fixed;
    top:-21px;
    left:0;
    z-index:30;
    width:51px;
}

.wrap{
    padding-top: 60px;
}

.block{
    height: 280px;
    padding: 10px 15px;
    margin: 10px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

footer{
    padding-top: 10px;
    background-color: crimson;
}

footer p{
    color: #fff;
}

.social-links{
    position: relative;
    float: right;
}

.social-links a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: 0.3s;
}

.social-links a:hover{
    font-size: 46px;
}

@media only screen and (max-width: 1024px){
    .logolink {
        display: none !important;
    }
}

@media only screen and (max-width: 992px){
    .block{
        text-align: left;
        height: 260px;
    }
}

.marg-top{
    margin-top: 7px;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}

footer {
    height: 90px;
    margin-top: -90px;
}

.blog-post{
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

h2{
    font-family: 'Bree+Serif', serif;
    color: #ff5252;
}

.form-delete-container
 {
    width: 20%;
    height: 20%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 101;
    display: none;
}

.form-delete-container.is-Responsive {
    width: 60%;
    height: 30%;
    min-width: 200px;
    max-width: 400px;
    padding-top: 50px;
}

.about{
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}






